#contact.main
  .get-started-section
    .container
      h4
        | URWelcome is the world’s first membership platform dedicated to connecting immigrants and their families with the information, products, and services they need to thrive in a new country. Join or support the community today
      p
        | Stay informed!
        br/
        | We’ll let you know when your
        | community is added.
      form action="#"
        .form-input
          label.sr-only Name
          input.form-control placeholder="NAME" type="text" /
        .form-input
          label.sr-only Email Address
          input.form-control placeholder=("EMAIL ADDRESS") type="text" /
        .form-input
          button.btn.btn-lg.btn-primary type="submit"  Submit
    /! /.container
  /! /.get-started-section
  .forums-section
    ul.forums-icons
      li
        a href="#" class='inactive-link'
          span
            img alt=("gov’t services") src="/images/govt-services-icon.png" /
          | Gov’t services
      li
        a href="#" class='inactive-link'
          span
            img alt="education" src="images/education-icon.png" /
          | Education
      li
        a href="#" class='inactive-link'
          span
            img alt="telecom" src="images/telecom-icon.png" /
          | Telecom
      li
        a href="#" class='inactive-link'
          span
            img alt="finance" src="images/finances-icon.png" /
          | Finance
      li
        a href="#" class='inactive-link'
          span
            img alt="jobs" src="images/jobs-icon.png" /
          | Jobs
      li
        a href="#" class='inactive-link'
          span
            img alt="health" src="images/health-icon.png" /
          | Health
  /! /.forums-section
  #about.about-section
    h3
      | About
      img alt=("UR Welcome") src="images/urwelcome-logo-dark.png" /
    #about_carousel.carousel.slide data-ride="carousel"
      /! Indicators
      ol.carousel-indicators
        li.active data-slide-to="0" data-target="#about_carousel"
          img alt=("Certified B Corporation") src="images/bcorp-logo.png" /
          span.caret
        li data-slide-to="1" data-target="#about_carousel"
          img alt=("United States") src="images/us-icon.png" /
          span.caret
        li data-slide-to="2" data-target="#about_carousel"
          img alt="Education" src="images/books-icon.png" /
          span.caret
      .carousel-inner role="listbox"
        .item.active
          .carousel-content
            .container
              .carousel-content-inner
                p As the highest rated B corp focused on Immigrant communities in the United States, URWelcome is committed to ensuring opportunity and success for its members and their families.
            /! /.container
        /! /.item
        .item
          .carousel-content
            .container
              .carousel-content-inner
                p We believe anyone should be able to live in any country and have easy access to the right information, products and services they need to build a good life. That’s why we’re using data and technology to reimagine the immigrant experience for today’s connected world. Right now we're the #1 resource for Latinos in the United States, but in the future we'll serve immigrants moving to and from countries across the globe.
            /! /.container
        /! /.item
        .item
          .carousel-content
            .container
              .carousel-content-inner
                p We deliver custom, data-driven recommendations and services in key categories such as Education, Healthcare, Finance, Jobs, Telecommunication, Legal, and Government Services.
            /! /.container
        /! /.item
    /! /#about_carousel
  /! /.about-section
  .partners-section
    .container
      ul.partners-icons
        li
          img alt="SRE" src="images/sre-logo.jpg" /
        li
          img alt="nielsen" src="images/nielsen-logo.jpg" /
        li
          img alt="Bloomberg" src="images/bloomberg-logo.jpg" /
        li
          img alt="CNN" src="images/cnn-logo.jpg" /
        li
          img alt=("Hispanic Heritage Foundation") src="images/hispanic-heritage-logo.jpg" /
        li
          img alt="MALDEF" src="images/maldef-logo.jpg" /
        li
          img alt="TechCrunch" src="images/techcrunch-logo.jpg" /
        li
          img alt=("The Wall Street Journal") src="images/wsj-logo.jpg" /
    /! /.container
  /! /.partners-section
  .numbers-section
    .container
      .numbers-item
        p
          img alt="" src="images/reach-icon.png" /
        p
        p
          | We reach over
          br/
          strong.large 9,000,000
          br/
          strong community members a year
          br/
          | with information that
          br/
          em improves their lives.
      /! /.numbers-item
      .numbers-item
        p
          img alt="" src="images/members-icon.png" /
        p
        p
          | Over
          br/
          strong.large 500,000
          br/
          strong members
          br/
          | receive our services
          br/
          | every month
          em and growing…
      /! /.numbers-item
      .numbers-item
        p
          img alt="" src="images/questions-icon.png" /
        p
        p
          strong.large Thousands
          br/
          strong of questions asked
          br/
          | and answered
          em every week.
      /! /.numbers-item
    /! /.container
  /! /.numbers-section
  .stay-informed-section
    .container
      p
        a.callout-green href="http://saberespoder.com"  Try our service in Spanish
    /! /.container
  /! /.stay-informed-section
/! /.main
